*{box-sizing: border-box;}

.container{
  padding: 16px;
}

input[type = text], input[type = password]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type = text]:focus, input[type = password]:focus{
  background-color: #ddd;
  outline: none;
}

hr{
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn{
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover{
  opacity: 1;
}

a{
  color: blue;
}

.signing{
  background-color: #f1f1f1;
  text-align: center;
}
