/* body */

body{
	margin: 0px;
	padding: 0px;
  background: linear-gradient(to bottom right, #101c5d 0%, #009688 100%);
}
h2 {
    font: italic bold 30px/30px Georgia, serif;
    text-decoration: underline;
    text-align: center;
}

section{
	background-color: #09253a;
	border: 6px solid #94254b;
}
section  h1{
  color: #2bbdaa;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
section a{
	color: #2bbdaa;
	text-decoration: none;
}
h1{
	font-weight: bolder;
	text-transform: capitalize;
	color: #ff2c74;
    margin-left: 60px;
    text-decoration: underline; 
	}

/* end */

/* header */

.new{
	display: flex;
	justify-content: space-between;
}
.imgg img{
	width: 2.5rem;
height: 2.5rem;
margin: auto;
margin-top: 4px;
margin-left: 4px;
border-radius: 50%;
}
.imgg{
	display: inline-block;
}
.imgg p{
	color: orange;
    font-weight: bold;
    text-transform: capitalize;
margin-top: -6px;}
.para{
	display: inline-block;
}
.para img{
	width: 2.5rem;
height: 2.5rem;
margin: auto;
margin-top: 4px;
margin-left: 4px;
border-radius: 50%;
}
.heading{
	color: orange;
    
    text-align: center;
}
.heading h1{
	text-align: center;
	display: inline-block;
}

.search-li {
	display: inline-block;
}
.search-li form button{
	padding: 8px;
	margin-top: 8px;
	border: none;
}
.search-li form input{
	padding: 8px; 
	margin-top: 8px;
	border: none; 
	background-color: lightgrey;
}
.search-li button:hover{
  background-color: white;
}
.search-li form input:hover{
  background-color: white;
}
.image img{
	width: 2.5rem;
height: 2.5rem;
margin: auto;
margin-top: 10px;
margin-right: 3px;
margin-left: 4px;
border-radius: 50%;
}
.imgg-logo{
	display: inline-block;
}
.image{
	display: inline-block;
}

.icon{
	font-size: 20px;
	margin-top: -10px;
}
.dropbtn {
  background-color: #f10c5a;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
 }
/* The container <div> - needed to position the dropdown content */
.dropdown {
	display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
/* end */

/* audio-player */

.main-border{
	width: 500px;
	height: 500px;
	background-image: url('https://easternhookah.com/wp-content/uploads/2016/11/Extravagent-Space-Background-Premium-Download.png');
    background-size: contain;
    display: inline-block;
    margin-top: -20px;
    margin-left: 80px;
   }
.main-border:hover{
	border: 2px solid #f10c5a;
}
.main-border h2{
	color: #2bbdaa;
	margin-left: 4px;
}

.inner-img{
	
	height: 265px;
	width: 450px;
	background-image: url(https://cdn.bollywoodbubble.com/wp-content/uploads/2019/07/Glassy_Feature-1.jpg);
	background-size: cover;
    display: block;
    margin-left: 20px;
    padding: 5px;
    margin-top: 10px;
   
    
}
.audio-player{
	height: 130px;
	width: 460px;
	display: inline-block;
	background-color: #b9b9b9;
	margin-left: 20px;
    margin-right: auto;
}
.container-audio {
    font-family: 'Allerta', arial, Tahoma;
    box-sizing: border-box;
}

.container-audio {
    width: 95%;
    height: auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #040a2d;
    color: #444;
    margin: 20px auto;
    overflow: hidden;
}
audio {
  width:100%;
  background-color: #060b25;

}

/* end */

/* side-queue */

.side-queue h2:hover{
	color: white;
}
.side-queue a:hover{
	color: white;
	text-decoration: underline;
}
.side-queue a:hover{
	color: white;
	text-decoration: underline;
}
.side-queue{
	width: 600px; 
	height: 490px; 
	border: 1px solid black; 
	display: inline-block;
	overflow-x: hidden; 
    overflow-x: auto; 
    float: right;
    background-color: #94254b;
    margin-top: -18px;
}
.side-queue h2{
	color: pink;
}
.side-queue li{
	font-weight: bold;
	font-size: 20px;
	border-bottom: 1px solid #0c8c9c;
}
.side-queue h2{
	color: pink;
	text-align: center;
}
.for-li li{
	background-color: #0e0f13;
    margin: 5px;
}
.for-li li:hover{
	background-color: #3b3e4e;
}
.for-li i{
	color: white;
}
.for-li i:hover{
	color: pink;
}
.logo{
	display: inline-block;
	
}

.logo img{
	width: 2rem;
height: 2rem;
margin: auto;
margin-top: 5px;
margin-left: 4px;
border: 1px solid black;
border-radius: 60%;}

.inside-queue{
	display: inline-block;
}
.inside-queue a{
	color: #efbaba;
	text-decoration: none;
	
}
.second-line{
	display: inline-block;
	color: #efbaba;
	font-size: 15px;
	font-style: italic;
	margin-left: 5px;
}
.player-controls-queue {
    display: inline-block;
    font-size: 20px;
    float: right;
}
.player-controls-queue i{
	margin-left: 20px;
	margin-top: 12px;
	margin-right: 10px;
}
li {
	font-weight: bold;
	font-size: 30px;
	border-bottom: 1px solid black;
		list-style: none;
}

/* end */

/* popular singers */

section a:hover{
	color: white;
	text-decoration: underline;
}

h1:hover{
	color: white;
}
.player-controls {
	display: flex;
	font-size: 25px;
	justify-content: space-around;
	margin-top: 8px;
   }
.image-div{
	 height: 230px;
   width: 90%;
       }
.image-img-div{
	display: flex;
	justify-content: space-around;
   }
.image img:hover{
  border:2px solid white;
}
.image-img-div img{
	height: 8rem;
    width: 9rem; 
    border-radius: 50%; 
    border: 4px solid #94254b;
    
}
.image-img-div img:hover{
   box-shadow: 2px 2px 4px 4px grey;
}
.p-all{
	display: flex;
	justify-content: space-around;
}
.p-all p{
	font-size: 20px;
  font-weight: bold;
}

/* end */


