<li class="list-group-item">
    <span class="todo-value w-5">{{@val}}</span>
    <button type="button"
    class="btn btn-danger button-align"
    {{on "click" (fn this.deleteItem @val) }}
    > Delete </button>
</li>