body{
    background-color: antiquewhite;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  hr{
    background-color: antiquewhite;
    border-style: none;
    border-color: grey;
    border-top-style:dotted;
    border-width: 8px;
    width:5%;
  }
  
  .contact-form{
    width: 50%;
  }
  
  .input-field{
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin: 10px; 
  }
  
  .submit-btn{
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #16a085;
    color: white;
    font-weight: bold;
  }