@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
	font-family: 'Open Sans', Arial;
	background: #ccc;
}
main {
	background: #eee;
	width: 600px;
	margin: 20px auto;
	padding: 10px 0;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
h2 {
	text-align: center;
}
p {
	font-size: 13px;
}
input {
	display: none;
	visibility: hidden;
}
label {
	display: block;
	padding: 0.5em;
	text-align: center;
	border-bottom: 1px solid #ccc;
	color: #666;
}
label:hover {
	color: #000;
}
label::before {
	font-family: Consolas, monaco, monospace;
	font-weight: bold;
	font-size: 15px;
	content: '+';
	vertical-align: text-top;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 3px;
	background: radial-gradient(ellipse at center, #ccc 50%, transparent 50%);
}
#expand {
	height: 0px;
	overflow: hidden;
	transition: height 0.5s;
	background: url(http://placekitten.com/g/600/300);
	color: #fff;
}
section {
	padding: 0 20px;
}
#toggle:checked ~ #expand {
	height: 250px;
}
#toggle:checked ~ label::before {
	content: '-';
}
