body{
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat","Avenir";
    font-family: 'Noto Sans', sans-serif;

}

.square{
    width: 30%;
    background:purple;
    padding-bottom: 30%;
    float: left;
    margin:1.66%;
    border-radius: 15%;
    transition: background 0.5s;
    --webkit-transition:background 0.5s;
    --moz--transition:background 0.5s;
}

.container{
    margin: 20px auto;
    max-width: 600px;
}

h1{
    font-weight: normal;
    line-height: 1.1;
    text-transform: uppercase;
    color: white;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    padding:20px 0;
}

#colourDisplay{
    font-size: 200%;
}

#message{
    display: inline-block;
    width: 20%;
}

#stripe{
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;
}
.selected{
    background-color: steelblue;
    color: white;
}

button{
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    color: steelblue;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    --webkit-transition:all 0.3s;
    --moz-transition:all 0.3s;
    outline:none;
}

button:hover{
    color: white;
    background-color: steelblue;
}