h1 {
    font: 600 3.5em 'Raleway' ,sans-serif;
    text-align: center;
    letter-spacing: .5em;
    width: 100%;
}

body {
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    top: 15%;
    background:linear-gradient(to right,#f207bf ,#530dbb);
}