*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#2ecc71,#16a085);
}
.clock{
    position: relative;
    width:80vh;
    height:80vh;
    border-radius:250px;
    border:10px solid #111;
    background-color: #fff;
    overflow: hidden;
}
.clock:after{
    content:'';
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background: linear-gradient(285deg, rgba(0,0,0,0.175) 50% , rgba(0,0,0,0.1) 50%);
}
.clock::before{
    content: '';
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius:50%;
}
.num{
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    text-align: center;
    font-size: 5vh;
    font-weight: 700;
    padding: 10px;
}
.num:after{
    content: '';
    position: absolute;
    top:0;
    left:50%;
    transform: translateX(-50%);
    width:5px;
    height: 2vh;
    background-color: #111;
}
.num1{
    transform: rotate(30deg);
}
.num1 div{
    transform: rotate(-30deg);
}
.num2{
    transform: rotate(60deg);
}
.num2 div{
    transform: rotate(-60deg);
}
.num3{
    transform: rotate(90deg);
}
.num3 div{
    transform: rotate(-90deg);
}
.num4{
    transform: rotate(120deg);
}
.num4 div{
    transform: rotate(-120deg);
}
.num5{
    transform: rotate(150deg);
}
.num5 div{
    transform: rotate(-150deg);
}
.num6{
    transform: rotate(180deg);
}
.num6 div{
    transform: rotate(-180deg);
}
.num7{
    transform: rotate(210deg);
}
.num7 div{
    transform: rotate(-210deg);
}
.num8{
    transform: rotate(240deg);
}
.num8 div{
    transform: rotate(-240deg);
}
.num9{
    transform: rotate(270deg);
}
.num9 div{
    transform: rotate(-270deg);
}
.num10{
    transform: rotate(300deg);
}
.num10 div{
    transform: rotate(-300deg);
}
.num11{
    transform: rotate(330deg);
}
.num11 div{
    transform: rotate(-330deg);
}
.hand{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}
.hand div{
    position: absolute;
    bottom:50%;
    left:50%;
    transform: translateX(-50%);
    background-color: #000;
}
.sec{
    width:1px;
    height: 40%;
}
.min{
    height: 38%;
    width:4px;
    border-radius: 2px;
}
.hour{
    height: 28%;
    width:8px;
    border-radius: 4px;
}