* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #e2c35d, #d88771);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 3rem 0;
    padding: 3rem;
    display: inline-block;
    min-height: 90vh;
    border: #ec7e5f solid 3px;
    border-radius: 35px;
    background-image: linear-gradient(110deg, #e2c35d, #d88771);
    box-shadow: 0 8px 6px -6px #b65338;
}

header {
    font-size: 1.5rem;
    text-shadow: 1px 1px #ec7e5f;
}

input:focus{
    outline: 0.5px solid #b65338;
}

input:focus + button {
    border: 0.5px solid #b65338;
    border-left: none;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: #fff;
}

form button {
    color: #d88771;
    background: #fff;
    cursor: pointer;
    transition: background 0.5s ease,color 0.5s ease;
}

form button:hover {
    background: #d88771;
    color: #fff;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: #fff;
    color: #000;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    background: #ff6f47;
    color: #fff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete-btn {
    background: rgb(70, 219, 65);
}
.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    color: #ff6f47;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: #ff6f47;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after {
    background: #fff;
    color: #ff6f47;
}