body {
 margin: 0;
  padding: 16px;
  background-color: #512DA8;
}

.birthday-card {
  margin: 40px auto;
  padding: 16px;
  max-width: 400px;
  background-color: white;
  text-align: center;
  box-shadow: 0 24px 40px -8px #311B92;
}
.birthday-card img {
  width: 100%;
}

.source-link {
  text-align: center;
  color: #311B92;
  text-decoration: underline;
}

.source-link a {
  color: #311B92;
  text-decoration: none;
}
