body {
  background-color: #EAF6F6;
}
hr {
border-style: none;
border-top-style: dotted;
border-color: grey;
border-width: 5px;
  width: 5%;
}
h1{
  color:#66BFBF;
}
h3{
  color:#66BFBF;
}
.not:hover{
  background-color: #EAF6F6;
}
td:hover{
  background-color: #E97171;
}
