<% include header.ejs %>

<h2> Search for movies </h2>

<form method="GET" action="/results">
	<input type='text' placeholder='movie' name='key'>
	<input type=submit >
</form>

<% include header.ejs %>
