/**************** banner part css start ****************/
.banner_part {
    height: 935px;
    position: relative;
    overflow: hidden;
    background-image: url(../img/banner_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

    @media #{$tab} {
        background-image: none;
        background-color: #f7f7f7;
        height: 650px;
    }

    @media #{$medium_device} {
        height: 650px;
    }

    .banner_text {
        display: table;
        width: 100%;
        height: 935px;

        .banner_text_iner {
            display: table-cell;
            vertical-align: middle;
            padding-top: 155px;
            @media #{$tab} {
                vertical-align: middle;
                padding-top: 0;
            }

            @media #{$medium_device} {
                padding-top: 0;
                padding-top: 100px;
            }
        }

        @media #{$small_mobile} {
            text-align: center;
            padding-top: 0px;
            height: 650px;
        }

        @media #{$large_mobile} {
            text-align: center;
            padding-top: 0px;
            height: 650px;
        }

        @media #{$tab_device} {
            text-align: center;
            padding-top: 0px;
            height: 650px;
        }

        @media #{$medium_device} {
            height: 650px;
        }

        h5 {
            font-size: 14px;
            text-transform: capitalize;
            font-weight: 500;
            color: #242429;
            margin-bottom: 0;
            font-family: $font_stack_1;
        }

        h1 {
            font-size: 60px;
            text-transform: capitalize;
            font-weight: 700;
            margin-bottom: 12px;
            line-height: 1.2;

            @media #{$small_mobile} {
                font-size: 25px;
                margin-bottom: 15px;
                line-height: 1.3;
            }

            @media #{$large_mobile} {
                font-size: 40px;
                margin-bottom: 15px;
                line-height: 1.3;
            }

            @media #{$tab_device} {
                font-size: 40px;
                margin-bottom: 15px;
                line-height: 1.3;
            }

            @media #{$medium_device} {
                font-size: 40px;
                margin-bottom: 15px;
                line-height: 1.4;
            }

            span {
                color: $btn_bg;
            }
        }

        p {
            font-size: 15px;
            line-height: 30px;
            font-family: $font_stack_1;
            color: $heading_color;
            padding-right: 20px;
        }

        .btn_2 {
            margin-top: 50px;
            @media #{$tab} {
                margin-top: 20px;
            }

            @media #{$medium_device} {
                margin-top: 20px;
            }
        }
    }
    
    @media #{$tab} {
        .banner_img{
            display: none;
        }
    }

    @media #{$medium_device} {
        margin-top: 20px;
    }
}

/**************** hero part css end ****************/