%custom_btn_bg_1{
    background-image: -webkit-linear-gradient( to right , #649bff, #0070fa, #649bff);
    background-image: -o-linear-gradient( to right , #649bff, #0070fa, #649bff);
    background-image: linear-gradient( to right , #649bff, #0070fa, #649bff);  
}
%custom_btn_bg_2{
    background-image: -webkit-linear-gradient( to right , #fff, #fff, #fff);
    background-image: -o-linear-gradient( to right , #fff, #fff, #fff);
    background-image: linear-gradient( to right , #fff, #fff, #fff);  
}
