/**************** regervation_part css start ****************/
.regervation_part {
    @include background("../img/reservation_bg.png");
    position: relative;
    z-index: 1;
    &:after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(28, 25, 171);
        opacity: 0.8;
        z-index: -1;
    }
    .reservation_img{
        .reservation_img_iner {
            position: absolute;
            bottom: -370px;
            @media #{$tab}{
               display: none;
            }
            
            @media #{$medium_device}{
                position: absolute;
                bottom: -312px;
            }
        }
    }
    .regervation_content {
        h2 {
            font-size: 24px;
            margin-bottom: 60px;
            color: #fff;
            @media #{$tab}{
                margin-bottom: 30px;
            }
            @media #{$medium_device}{
            
            }
        }
    }

    .regervation_part_iner {
        input {
            color: $white_color !important;
        }

        .form-control {
            background-color: transparent;
            color: $white_color !important;
            border: 1px solid $white_color;
            border-radius: 0px;
            font-size: 14px;
            font-family: $font_stack_1;
            margin-bottom: 4px;
            height: 50px;
            padding: 15px;
        }

        textarea.form-control {
            height: 150px !important;
            border: 1px solid $border;
        }

        .time_icon {
            .nice-select {
                &:after {
                    border-bottom: 0px solid $white_color;
                    border-right: 0px solid $white_color;
                    content: "\e72b";
                    font-family: 'themify';
                    transform: rotate(0deg);
                }
            }
        }
    }

    .ti-calendar {
        color: $white_color !important;
        font-size: 12px;
        margin-top: 12px;
        right: 15px;
    }

    .nice-select {
        width: 100%;
        line-height: 18px;

        &:after {
            top: 41%;
            right: 15px;
        }
    }

    .gj-picker {
        max-width: 300px !important;
    }

    a {
        &:hover {
            color: $white_color !important;
        }
    }

    ::placeholder {
        color: $white_color !important;
    }
    .btn_2{
        margin-top: 10px;
        background-color: $white_color !important;
        @extend %custom_btn_bg_2;
        font-family: $font_stack_2;
        font-weight: 500;
        color: $heading_color;
        font-size: 14px;
        &:hover{
            @extend %custom_btn_bg_1;
            color: $white_color !important;
        }
    }
    .nice-select .option {
        color: #000 !important;
    }
}