// variable scss
@import "variables";

// mixin scss
@import "mixins";
@import "extends";
// default scss
@import "common";

// button scss
@import "button";

@import "blog";
@import "single_blog";
// body scss
@import "our_depertment";
@import "menu";
@import "banner";
@import "about_us";
@import "feature_part";


@import "review";
@import "regervation_part";
@import "doctor_list";
@import "intro_video_bg";
@import "footer";

@import "elements";
@import "blog_part";
@import "contact";

// breadcrumb scss
@import "breadcrumb";














@import "footer";


