html {
  box-sizing: border-box;
  background: #ffc600;
  font-family: "helvetica neue";
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
}

.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  background: #6b0f9c;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.panel1 {
  background-image: url("https://i.ytimg.com/vi/oCgyNWwWyEQ/maxresdefault.jpg");
}
.panel2 {
  background-image: url("https://wallsdesk.com/wp-content/uploads/2016/10/Amazon-Computer-Wallpaper.jpg");
}
.panel3 {
  background-image: url("http://cdn.osxdaily.com/wp-content/uploads/2019/06/ipad-stuck-on-apple-logo-screen.jpg");
}
.panel4 {
  background-image: url("https://i.ytimg.com/vi/GV3HUDMQ-F8/maxresdefault.jpg");
}
.panel5 {
  background-image: url("https://i.pinimg.com/originals/04/51/e9/0451e9eb7e8a5c5d1222ce60301f4284.jpg");
}

/* Flex Items */
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child {
  transform: translateY(-100%);
}
.panel.open-active > *:first-child {
  transform: translateY(0);
}
.panel > *:last-child {
  transform: translateY(100%);
}
.panel.open-active > *:last-child {
  transform: translateY(0);
}

.panel p {
  text-transform: uppercase;
  font-family: "Amatic SC", cursive;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}

.panel p:nth-child(2) {
    font-size: 4em;
  }

  .panel.open {
    flex: 5;
    font-size: 40px;
  }