#img-center {
  background: url("https://miro.medium.com/max/2560/1*On6AtQhoMSntm-D63c8XoQ.jpeg");
  background-repeat: no-repeat;

  background-size: cover;
  height: 100vh;

}

#sm-img-centr {
  background: url("https://miro.medium.com/max/2560/1*On6AtQhoMSntm-D63c8XoQ.jpeg");
  background-repeat: no-repeat;

  background-size: cover;
  height: 100vh;
}