<!DOCTYPE HTML>
<html>
	<head>
		<title>Govt of Telangana  e-Pass </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="public/css/main.css" />
		<noscript></noscript><link rel="stylesheet" href="public/css/noscript.css" /></noscript>
		<link rel="stylesheet" href="public/css/style.css">
		<link rel="icon" href="public/images/aplogo.png" type="">
		
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
		<!---->	<section id="sidebar">
				
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">e-Pass Services </a></li>
							<li><a href="#three">How to Apply</a></li>
							
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="logo text-center">
							<img src="public/images/aplogo.png" width="300" height="300" alt="">
						</div>
						<div class="inner">
							<h1>Govt Of Telangana  E-Pass System </h1>
							<p>This site  is being used by Telangana  state to provide citizen centric e-services to the applicants. <strong>Currently, this framework is under development and is not deployed</strong>. It is to provide movement e-Pass services during COVID-19 pandemic <strong>provided by the Telangana  Govt</strong> </p>
							<ul class="actions">
								<li><a href="/e-pass" class="button scrolly">Apply Here</a></li>
							</ul>
						</div>
					</section>

				<!-- One -->
				

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2><strong>Steps to Apply</strong></h2>
							<p>The following are the steps to apply for the e-Pass. This application is <strong>completley automated</strong>.</p>
							<div class="features">
								<section>
									<span class="icon solid major fa-code"></span>
									<h3>Click on Apply Here</h3>
									
								</section>
								<section>
									<span class="icon solid major fa-lock"></span>
									<h3>Fill out the Form and details for the e-Pass </h3>
									
								</section>
								<section>
									<span class="icon solid major fa-cog"></span>
									<h3>Wait for the Application Process</h3>
									<p>The application process usually takes not more than 2 mins to be processed. Applicants who are allowed will have the option to download the e-pass</p>
									
								</section>
								<section>
									<span class="icon solid major fa-desktop"></span>
									<h3>Download the Application </h3>
									<p>Note: The application is completley based on various factors and these will be considered to for approval or rejection of the e-Pass </p>
								</section>
								
							</div>
							<ul class="actions">
								<li><a href="generic.html" class="button">Learn more</a></li>
							</ul>
						</div>
					</section>

				<!-- Three -->
					
			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="#"></a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="public/js/jquery.min.js"></script>
			<script src="public/js/jquery.scrollex.min.js"></script>
			<script src="public/js/jquery.scrolly.min.js"></script>
			<script src="public/js/browser.min.js"></script>
			<script src="public/js/breakpoints.min.js"></script>
			<script src="public/js/util.js"></script>
			<script src="public/js/main.js"></script>
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>


	</body>
</html>