.post{
	font-family: 'Source Sans Pro', sans-serif;
	color: #2c3e50;
	font-size: 2.0em;
	text-transform: uppercase;
}

p{
	font-family: 'Piazzolla', serif;
}

.blog{

	border:16px solid #D3D3D3;
	padding:20px;
	max-width:700px;
	width: 60%;
	margin:20px auto;
}

.date{
	font-size: 1.3em;
}

.author{
	text-align: right;
}

body{
	background-color: #808080;
}

div{
	background-color: black;
}
