/* General Styling */
body {
  margin: 0;
  padding: 0;
}

/*  Phone Styling  */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4c4177;
  height: 100vh;
  width: 100%;
  background-color: #eb4511;
  background-image: linear-gradient(315deg, #eb4511 0%, #b02e0c 74%);
}

.frame {
  width: 250px;
  height: 500px;
  border: 10px solid #333;
  border-style: solid;
  border-radius: 40px;
  box-shadow: 0 0 21px 1px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.frame:hover {
  animation-name: flash_border;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.inner-frame-1:hover {
  animation-name: flash_border;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.inner-frame-1 {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 5px 1px #363636;
  border-radius: 36px;
  transform: scale(1.03, 1.02);
  position: absolute;
  top: -2px;
  left: -2px;
}

.inner-frame-2 {
  width: 100%;
  height: 100%;
  border: 6px solid #080808;
  box-shadow: 0px 0px 5px 1px #828282;
  border-radius: 36px;
  transform: scale(0.98, 0.99);
  position: absolute;
  top: -6px;
  left: -6px;
  overflow: hidden;
}

.screen {
  width: 100%;
  height: 100%;
  background: #fff;
  position: relative;
}

.top-icon-container {
  width: 44px;
  height: 11px;
  position: absolute;
  top: 5px;
  right: 18px;
  display: flex;
  justify-content: center;
}

.icon {
  color: #e2e2e2;
  transform: scale(0.6);
  margin: 0 -2px;
}

.icon-container {
  width: 224px;
  height: 36px;
  position: absolute;
  bottom: 45px;
  left: calc(50% - 112px);
  display: flex;
  justify-content: space-between;
}

.icon-bg {
  width: 36px;
  height: 36px;
  background-color: #808080;
  border-radius: 36px;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera-icon {
  color: #e2e2e2;
}

#flashlight-icon {
  transform: scale(0.04);
  filter: invert(1);
}

.bottom-home-bar {
  width: 100px;
  height: 4px;
  border-radius: 4px;
  background: #fff7;
  position: absolute;
  bottom: 7px;
  left: calc(50% - 50px);
}

.notch {
  width: 100px;
  height: 18px;
  background-color: #080808;
  position: absolute;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  top: 0px;
  z-index: 1;
}

.speaker {
  width: 42px;
  height: 6px;
  background-color: #eee;
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 21px);
  border-radius: 2px;
  background-image: linear-gradient(45deg, #0e0e0e 50%, #575757 150%);
  background-size: 3px 3px;
}

.front-camera {
  width: 7px;
  height: 7px;
  border-radius: 7px;
  background: radial-gradient(
    circle,
    rgb(31, 85, 139) 0%,
    rgb(30, 30, 30) 50%,
    rgb(0, 0, 0) 100%
  );
  position: absolute;
  top: calc(50% - 6px);
  left: 80px;
}

.front-camera:after {
  background: linear-gradient(
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.2)
  );
}

/*  Calculator Styling  */

#calculator {
  background: #000;
  width: 100%;
  height: 100%;
}

.box {
  width: 95%;
  height: 35%;
  border: none;
  outline: none;
  color: #fff;
  background-color: #000;
}

.display {
  font-family: sans-serif;
  font-size: 42px;
  text-align: right;
  letter-spacing: 1px;
  width: 95%;
  height: 35%;
  border: none;
  outline: none;
  color: #fff;
  padding-top: 95px;
  background-color: #000;
}

.keys {
  width: 240px;
  margin-left: 5px;
  height: 50%;
  transition: 2s;
}

button:hover {
  opacity: 0.9;
  box-shadow: 1px 1px 4px #080808;
}

.opr {
  background: #fe9f09;
}

button {
  color: #fff;
  background: #333333;
  cursor: pointer;
  font-size: 21px;
  width: 50px;
  height: 50px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 50px;
  margin-left: 6px;
  margin-bottom: 6px;
}

.special {
  color: #000;
  background: #a5a5a5;
}

.zero {
  width: 110px;
  margin-left: 6px;
}
