/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

/* Pozícionálás */

body {
  font-family: tahoma;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("http://i.imgur.com/9kh3G8L.jpg") no-repeat center center
    fixed;
  background-size: cover;
}

.profile-card {
  width: 480px;
  max-width: calc(100vw - 10px);
  background-color: hsla(0, 0%, 100%, 0.5);
  border-radius: 4px;
  box-shadow: hsla(0, 0%, 0%, 0.8) 10px 10px 80px;
}

.name-headline h1,
h2,
p {
  margin-bottom: 2%;
}

.name-headline h1 {
  text-transform: uppercase;
  font-size: 26px;
  padding: 1%;
}

.head h3 {
  margin-bottom: 4%;
  font-size: 90%;
}

.head,
.content {
  width: 90%;
  margin: 0 auto;
}

img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 1px;
  background-color: #666;
  transition: all 0.5s ease-in-out;
  filter: grayscale(50%);
}

img:hover {
  transform: scale(1.1);
  filter: grayscale(20%);
}

.profile-image {
  margin-top: -60px;
}

.head,
.section-links {
  text-align: center;
}

.about {
  margin-bottom: 10%;
}

.content {
  padding: 5% 10%;
  border-top: 1px solid hsla(0, 0%, 30%, 0.8);
}

/* Contact links */
ul {
  list-style-type: none;
}

li {
  display: inline;
}

li a {
  color: #555;
  font-size: 32px;
  padding: 7px;
}

.princess {
  color: #555;
}
