@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
body {
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bree Serif', serif!important;
}

.navbar-brand {
  background:#1C1C1C;
  padding: 13px 0!important;
  margin: 0!important;
}

.navbar-nav {
  padding: 7px 0!important;
}

#navbar {
  margin-bottom: 0px !important;
}

#sidebarMenu {
  background: #E8E8E8 !important;
  padding: 0px !important;
  height: 100vh !important;
}

@media (min-width:768px) {
  #sidebarMenu {
    position: fixed !important;
  }
}

@media (max-width:1366px) and (min-width:767px) {
  .navbar-brand h3 {
    font-size: 1rem!important;
  }
}

.nav .nav-item a {
  color: #777;
  border-left: 5px solid transparent;
  font-size: 1rem!important;
  padding: 10px 25px;
}

.nav .nav-item .active, .nav .nav-item a:hover {
  border-left: 5px solid #555;
  background: #e1e1e1;
}

.sidebar-body {
  margin-top: 10px 0!important;
}

.cards {
  margin: 40px 0px;
}

#card-1, #card-2, #card-3, #card-4 {
  border: 0px!important;
  border-radius: 0px!important;
  color: #fff;
}

#card-1 .card-text, #card-2 .card-text, #card-3 .card-text, #card-4 .card-text {
  max-width: 60%;
}

#card-1 {
  background-color: #CD2626;
  opacity: 100%;
  opacity: 1;
}

#card-1:hover {
  color: #eee;
  background-color: linear-gradient(#CD2626, #EE4000)
}

.graph-bg {
  background: url("../images/graph.png") no-repeat;
  background-size: 120px auto;
  background-position: 95% 90%;
}

#card-2 {
  background-color: #00CD66;
}

#card-3 {
  background-color: #00688B;
}

#card-4 {
  background-color: #EEAD0E;
}

.card-normal {
  color: #777;
  text-align: center;
  padding: 0px 0px 10px 0px;
  border-bottom: 1px solid #ccc;
}

#todo-list {
  margin: 30px 0px 10px 0px;
}

#todo-list li {
  list-style: none;
  padding: 7px 10px;
  margin-right: 35px;
  background: #eee;
  margin-bottom:2px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #777;
}
#todo-list li:hover {
  background: #E8E8E8;
}
#todo-list input {
  margin-right: 10px;
}

.card-news {
  margin: 0px 0px 5px 0px;
}

.right {
  float: right;
}