body{
	border:20px solid #bdc3c7;
	padding: 20px;
	max-width: 700px;
	width: 80%;
	margin: 20px auto;
	font-family: 'Source Sans Pro', sans-serif;
}
.quote{
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;
}
.date{
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 0.2rem; 
}
h2{
	color: #2c3e50 ;
	font-size: 2.0rem;

}
hr{
	border-top: 1px dotted #8c8b8b;
}
.post{
	margin-bottom: 20px;
}