*{
    margin: 0;
    text-decoration: none;
    color: white;
}

html{
  background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(60deg, #8675a9 40%, #c3aed6 50%);
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    width: 100%;
    background-size: cover;
}

div{
    width: 100%;
    text-align: center;
    padding: 80px 0px 0px 0px;

}

h1,h2{
    font-family: 'Dancing Script', cursive;
    color: black;
}

img{

    width: 400px;
    height: 400px;
}
.thank{
  width: 500px;
}
