*{
    margin: 0;
    text-decoration: none;
    color: black;
}

html{
    scroll-behavior: smooth;

}

body{
    width: 100%;
    background-color: black;
    background-size: cover;
    scroll-behavior: smooth;
}
#title{

  background-size:cover;
  text-align: center;
  background-position: center;
  color: black;
  background-image: url("https://images.unsplash.com/photo-1561016444-14f747499547?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80");
  font-weight:bolder;
  font-size: 120px;

}
.frontIMG{
  background-position: center;
  background-size: cover;
  width: 1100px;
  height: 600px;
}
.beachwalk{
  color: black;
}
h5{
  text-align: center;
}
p{

  text-align: center;
  color: #1d2d50;

}
.pp{
  font-size: 15px;
}
.text-wrap {
    position: absolute;
    top: 48vh;
    /*left: 0; */
    width: 100%;
    transform: translateY(-50%);
    z-index: 2;
    color: black;
}
.head{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    position: sticky;
    z-index: 200000;
    background-color: black;
}

.logo{
    height: 100px;
}

.navLinks ul{
    display: flex;
    justify-content: space-around;
    padding: 10px 10px 10px 10px;
    align-items: center;
    left: 0;
}

li{
    font-size: 30px;
    letter-spacing: 1px;
    list-style: none;
    padding: 10px 20px 10px 20px;
    font-family: 'Dancing Script', cursive;
    font-weight: lighter;
}
#footer{
      background-image: url("https://images.unsplash.com/photo-1561016444-14f747499547?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80");
}

#home{
    margin: 20px;
}

#header{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    font-weight: bolder;
}

#images{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#images div{
    margin: 20px;
    text-align: center;
    font-size: 18px;
    font-family: 'Acme', sans-serif;
}

.walk{
    height: 200px;
    width: 300px;
    border-radius: 10px;
    margin: 10px 0px 10px 0px;
}


.midway{
    margin: 20px 30px 40px 30px;
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
    font-family: 'Dancing Script', cursive;
}

.parallax{
    background-image: url(images/parallax.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 300px;
}

.memories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.abouth{
    margin: 30px 0px 30px 0px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-family: 'Sansita Swashed', cursive;
}

.aboutp{
    margin: 10px 30px 10px 30px;
    font-size: 30px;
    font-family: 'Acme', sans-serif;
}

.memories img{
    margin: 20px;
    border-radius: 10px;
    width: 300px;
    height: 200px;
}

#contact{
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

#contact h2{
    text-align: center;
    font-size: 40px;
    font-family: 'Sansita Swashed', cursive;
}

#contact ul li{
    list-style: none;
    margin: 10px 30px 10px 30px;
    font-size: 30px;
    font-family: 'Acme', sans-serif;

}

#contact p{
    margin: 10px 30px 10px 30px;
    font-size: 30px;
    font-family: 'Acme', sans-serif;
}

#contact p a{
    text-decoration: underline;
    font-weight: bolder;
}
