#title {
  background-color: #ff4c68;
  color: white;
}

body {
  font-family: 'Montserrat', sans-serif;
  size: 3rem;
  line-height: 1.5;
}

p {
  font-family: Ubuntu;
  color: #afafaf;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat";
  font-size: 2.5rem;
  line-height: 1.5;
}

/* navigation bar */
.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: Ubuntu;
  font-size: 2rem;
  line-height: 1.5;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  /* font-weight:; */
  font-family: "Montserrat-Light";
  font-size: 1.2rem;
}

/* downloads buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title image */
.iphone {
  transform: rotate(29deg);
  width: 55%;
  position: absolute;
  right: 30%;
  top: 1%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* features section*/
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

/* testimonial */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-class {
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}

/* Press */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px
}

/* pricing */
#pricing {
  padding: 100px;
  text-align:center;
}

.pricing-colum {
  padding: 2% 3%;
}

@media(max-width:1031px) {
  #title {
    text-align: center;
  }

  .iphone {
    position: static;
    transform: rotate(0);
  }
}

/* Call to Action  */
#cta {
  background-color: #ff4c68;
  text-align: center;
  line-height: 1.5rem;
  padding: 7% 15%;
  color: #fff;

}

/* footer */
#footer {
  padding: 7% 15%;
  text-align: center;
}

a {
  color: #000;
}
